/*
//////////////////
// Main content //
//////////////////
*/

.md-search-result__icon:after {
  color: #FAFAFA !important;
}

.md-search-result .md-typeset h2 {
  color: white !important;
}

.md-search-result .md-typeset h1 {
  color: white !important;
}

.md-search__input {
  color: #85898e !important;
  background-color: #212121 !important;
}

.md-icon svg {
  color: #FAFAFA !important;
}

.md-search-result {
  background-color:  #FAFAFA !important;
}

.md-search-result .md-typeset {
  color: #FAFAFA !important;
}

.md-content h3 {
  color: #d7d8d4 !important;
}


.md-content p {
  color: #85898e !important;
}

.md-nav__title {
  box-shadow: none !important;
}


.md-nav__link {
  color: #dee4eb !important;
}

.md-nav__link--passed {
  color: #85898e !important;
}


/*
Default text color
and background color
*/
.md-main {
  color: #CFCFCF !important;
  background-color: #212121 !important;
}

/*
Main headlines
*/
.md-main h1 {
  color: #75715e !important;
}

.md-main h2 {
  color: #8F2F2F !important;
}

/*
Tables
*/
tbody {
  background-color: #424242 !important;
}

.md-typeset table:not([class]) th {
  background-color: #212121  !important;
}

.md-typeset table:not([class]) tr:hover {
  box-shadow: none !important;
  background-color: #121212 !important;
}

/*
Blockquotes
*/
.md-typeset blockquote {
  color: rgba(255,255,255,0.8) !important;
  border-color: rgba(255,255,255,0.54) !important;
}

/*
////////////////////
// Navigation bar //
////////////////////
*/

/*
Left and right toc scrollbar
*/
.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}



.md-nav {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
Arrow Left Icon
*/
html .md-nav--primary .md-nav__title:before {
  color: #FAFAFA !important;
}

.md-nav__title {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

/*
Arrow Right Icon
*/
.md-nav--primary .md-nav__link:after {
  color: #FAFAFA !important;
}

.md-nav__list {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__item {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__link[data-md-state=blur] {
  color: rgba(255,255,255,0.54) !important;
}

/*
////////////
// Search //
////////////
*/

/*
scroll bar

attention:
background is scroll handle color!
*/
.md-search__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}
/*
scroll bar background color
*/
.md-search__scrollwrap {
  background-color: #424242 !important;
}

/*
Icon color
*/
.md-search-result__article--document:before {
  color: #EEEEEE !important;
}

/*
headline color and
result list background
*/
.md-search-result__list {
  color: #EEEEEE !important;
  background-color: #212121 !important;
}

/*
result info/count
*/
.md-search-result__meta {
  color: #EEEEEE !important;
  background-color: #212121 !important;
}

/*
article preview text color
*/
.md-search-result__teaser {
  color: #BDBDBD !important;
}
